/* Estilos generales */
body {
    /* Establece una imagen de fondo, centrada, sin repetición y que cubre todo el espacio disponible */
    background-image: url('https://www.xtrafondos.com/wallpapers/atardecer-digital-2129.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Centra los elementos hijos en el eje vertical y horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Establece la altura para ocupar toda la pantalla */
    height: 100vh;
    /* Centra el texto */
    text-align: center;
    /* Establece el color del texto */
    color: #333;
    /* Establece la posición relativa para permitir el posicionamiento absoluto de los elementos hijos */
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

h2 {
    color: #2196F3;
}

.form-group {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    font-weight: bold;
    margin-top: 10px;
}