* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Establece una imagen de fondo, centrada, sin repetición y que cubre todo el espacio disponible */
    background-image: url('https://www.xtrafondos.com/wallpapers/atardecer-digital-2129.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Centra los elementos hijos en el eje vertical y horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Establece la altura para ocupar toda la pantalla */
    height: 100vh;
    /* Centra el texto */
    text-align: center;
    /* Establece el color del texto */
    color: #333;
    /* Establece la posición relativa para permitir el posicionamiento absoluto de los elementos hijos */
    position: relative;
}

.rounded-margin {
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.9);
}

label {
    font-weight: 500;
    margin-right: 10px;
}

select,
input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 16px;
    background: #fff;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
}

select:focus,
input[type="number"]:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 30px rgba(0,0,0,0.5);
    transform: scale(0.9);
}

button {
    width: 100px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #000;
}

button:hover {
    background: #0056b3;
}

button:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 30px rgba(0,0,0,0.5);
}

#resultado {
    width: 200px;
    text-align: center;
    font-weight: 600;
}
